{% extends 'base.html.twig' %}

{% block title %}Welkom!{% endblock %}

{% block body %}



    <h3 style="padding-left:400px;
    padding-top:150px;

">    <a href="/contact">contact formulier</a></h3>  <body/>

{% endblock %}
