{% extends 'base.html.twig' %}




{% block title %}Contact formulier{% endblock title %}

{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock head %}
{% block body %}

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <div class="g-reCAPTCHA" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>

        {{ form_start(our_form) }}
    <div class="g-reCAPTCHA" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
        {{ form_widget(our_form) }}
    <div class="g-reCAPTCHA" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
        <input type="submit" value="Verzenden" class="btn btn-danger" />
    <div class="g-reCAPTCHA" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
        {{ form_end(our_form) }}
    </div>


{% endblock %}